@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital@1&display=swap');
@font-face {
    font-family: "OpenSans";
    src: url("Fuentes/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: "Merienda";
    src: url("Fuentes/Merienda-Bold.ttf");
}  
* {
  box-sizing: border-box;
  }
body {
  width: 85%;
  margin:auto;
  font-family: "OpenSans";
  font-size: 100%;
  background-image: url(../imagenes/1-fondo.png);
  background-attachment:fixed;
  background-color: beige;
  }
header{
  padding: 20px;
  background: url(../imagenes/cabezera.png);
  background-repeat: no-repeat;
  background-color: #c4bbca;

}
main {
  display: inline-block;
  box-sizing: border-box;
  column-count: 3;
  column-width: 250px;
  column-gap: 20px;
  margin: 10px;
  padding: 10px;
  background: rgb(219, 219, 219);
  border-radius: 20px;
  }
section {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin: 0 0 20px;
  background-color: #add8e6; 
  border-radius:8px;
  overflow: hidden;
  }
footer {
  font-family: 'Red Hat Mono', monospace;
  font-size: medium;
  position: relative;
  bottom: 0;
  }
img{
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius:8px;
  max-width: 100%;
  height: auto;
  }
h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: auto;
  }
h3{
  text-align: center;
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  }
}
.centrado {
    text-align: center;
    border-bottom: none;
}

@media (min-width: 1201px) {
  nav {
    overflow: hidden;
    background-color: rgb(183, 127, 209);
    border-radius:10px;
    font-size: 15px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
    /* Style the topnav links */
  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;

  }
    /* Change color on hover */
  nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius:10px;
  }
  
}

@media (max-width: 1200px) and (min-width: 601px) {
  nav {
    overflow: hidden;
    background-color: rgb(183, 127, 209);
    border-radius:10px;
    font-size: 13px;
    
  }
    /* Style the topnav links */
  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;

  }
    /* Change color on hover */
  nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius:10px;
  }
}

@media (max-width: 600px){
  nav {
    overflow: hidden;
    background-color: rgb(183, 127, 209);
    position: relative;
    border-radius:10px;

  }
  
  nav a {
    color: white;
    padding: 8px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
    
  nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius:10px;

  }
  
      
}

