@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital@1&display=swap');
@font-face {
    font-family: "OpenSans";
    src: url("Fuentes/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf");
}
html{
    background: url("../imagenes/fondo.png");
    margin-left: 15px;
    margin-right: 15px;
}

body {
    font-family: "OpenSans";
    font-size: 100%;
}
header {
    font-family: "OpenSans";
    font-size: 80%;
}

footer {
    font-family: 'Red Hat Mono', monospace;
    font-size: medium;
}
a.index{
    font-size: 90%;
    text-align: right;
}
h1{
    text-align: center;
}
h3{
    text-align: left;
    clear: both;
}
img.derecha{
    float: right;
    margin-left: 5%;
    margin-bottom: 5%;
}
ul {
    list-style-type: none;
    text-align: center;
  }
  
  li {
    background-color: #7bc7d4;
    float: left;
    margin-right: 10px;
  }